<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ballot.dao.BALLOTMapper">
	<resultMap id="BaseResultMap" type="com.ballot.entity.BALLOT">
		<id column="vote_id" jdbcType="INTEGER" property="voteId" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="memo" jdbcType="VARCHAR" property="memo" />
	</resultMap>
	<sql id="Base_Column_List">
		vote_id, title, create_time, update_time, user_id, memo
	</sql>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from vote
		where vote_id = #{voteId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ballot.entity.VOTE">
		insert into vote (vote_id, title, create_time,
		update_time, user_id, memo
		)
		values (#{voteId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.ballot.entity.VOTE">
		insert into vote
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="voteId != null">
				vote_id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="memo != null">
				memo,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="voteId != null">
				#{voteId,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ballot.entity.VOTE">
		update vote
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="memo != null">
				memo = #{memo,jdbcType=VARCHAR},
			</if>
		</set>
		where vote_id = #{voteId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ballot.entity.VOTE">
		update vote
		set title = #{title,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		user_id = #{userId,jdbcType=INTEGER},
		memo = #{memo,jdbcType=VARCHAR}
		where vote_id = #{voteId,jdbcType=INTEGER}
	</update>

	<select id="findAllVote" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from vote
	</select>

</mapper>