<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ballot.dao.CANDIDATESMapper" >
  <resultMap id="BaseResultMap" type="com.vcyber.votesystem.entity.CANDIDATES" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="vote_id" property="voteId" jdbcType="INTEGER" />
    <result column="ballots" property="ballots" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, vote_id, ballots
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from candidates
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from candidates
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vcyber.votesystem.entity.CANDIDATES" >
    insert into candidates (id, user_id, vote_id, 
      ballots)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{voteId,jdbcType=INTEGER}, 
      #{ballots,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.vcyber.votesystem.entity.CANDIDATES" >
    insert into candidates
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="voteId != null" >
        vote_id,
      </if>
      <if test="ballots != null" >
        ballots,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="voteId != null" >
        #{voteId,jdbcType=INTEGER},
      </if>
      <if test="ballots != null" >
        #{ballots,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vcyber.votesystem.entity.CANDIDATES" >
    update candidates
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="voteId != null" >
        vote_id = #{voteId,jdbcType=INTEGER},
      </if>
      <if test="ballots != null" >
        ballots = #{ballots,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vcyber.votesystem.entity.CANDIDATES" >
    update candidates
    set user_id = #{userId,jdbcType=INTEGER},
      vote_id = #{voteId,jdbcType=INTEGER},
      ballots = #{ballots,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>